%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==
{require_otp_vsn, "R15B|18"}.

%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

{pre_hooks, []}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
{erl_first_files, []}.

%% Erlang compiler options
{erl_opts, [debug_info
            ,{i, "include"}
            ,{src_dirs, ["src"]}]}.

{eunit_opts, [verbose,{eunit_surefire, [{dir, "."}]}]}. 

{cover_enabled, true}.

%% == Depends
{deps, [{mochiweb, "2.16.0", {git, "git://github.com/mochi/mochiweb.git", {tag, "aacb8f2e2fd98a729bd4f54e028c6b742bfb9dcb"}}},
        {emysql, "0.4.0", {git, "git://github.com/Eonblast/Emysql.git", {tag, "0.4.0"}}},
        {protobuffs, "0.9.0", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.9.0"}}}]}.


%% == Subdirectories ==

%% Subdirectories
{sub_dirs, ["apps/gateway"
            ,"apps/scene"
            ,"apps/world"
            ,"apps/player_app"
            ,"src"]}.

