%% 系统app配置
[
{mnesia, 
    [{debug, none}, {dump_log_write_threshold, 1000}, {send_compressed, 0}]},
{os_mon, 
    [{start_cpu_sup, false}, {start_disksup, false}, {start_memsup, false},
    {system_memory_high_watermark, 1.0}, {process_memory_high_watermark, 0.1},
    {disk_space_check_interval, 30}, {disk_almost_full_threshold, 0.80}]}
].
